body{
    background-image: url("../images/geometry.png");
    background-repeat: repeat;
}

.tab-content{
    padding: 30px 0 0 0;
}

.nav-tabs > li, .nav-pills > li {
    float:none;
    display:inline-block;
    *display:inline; /* ie7 fix */
    zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

#list-food img{
    width: 100%;
    height: 175px;
    border: 2px solid #A0E857;
}

#list-food p{
    text-align: center;
    text-transform: capitalize;
    font-weight: bold;
    background: #A0E857 none repeat scroll 0% 0%;
    padding-bottom: 10px;
    padding-top: 5px;
}

.errors-food{
    display: none;
    list-style: none;
}

/*----------------------------------------------------------*/
.row {
    list-style: none;
    text-align: center;
    margin: 10px 0px;
}

.row .li {
    display: inline-block;
    text-align: left;
    position: relative;
}

.row figure {
    margin: 0;
    position: relative;
}

.row figure img {
    max-width: 100%;
    display: block;
    position: relative;
}

.row figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e;
}

.row figcaption h3 {
    margin:  0px 0px 10px 0px;
    padding: 0;
    color: #fff;

}

.row figcaption span:after {
    content: ' VND';
}

.row figcaption .group-btn {
    text-align: center;
    border-radius: 2px;
    display: inline-block;
    color: #fff;
}

.row figcaption span {

}

.group-btn button{
    margin-right: 8px;
}

@media screen and (max-width: 31.5em) {
    .row {
        padding: 10px 10px 100px 10px;
    }
    .row li {
        width: 100%;
        min-width: 300px;
    }
}

.cs-style-3 figure {
    overflow: hidden;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.cs-style-3 figure img {
    transition: transform 0.4s;
}

.no-touch .cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
    transform: translateY(-50px);
}

.cs-style-3 figcaption {
    height: 100px;
    width: 100%;
    top: 75px;
    bottom: 0;
    opacity: 0;
    transform: translateY(50%);
    transition: transform 0.4s, opacity 0.1s 0.3s;
    border: 2px solid #A0E857;
    border-top: none;
}

.no-touch .cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
    opacity: 1;
    transform: translateY(0px);
    transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption .group-btn {
    position: absolute;
    top: 45px;
    left: 125px;
}

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.search-form{
    float: right;
    width: 100%;
    margin-top: -8px;
    margin-right: -10px;
}

.search-form .form-group {
    transition: all 0.35s, border-radius 0s;
    width: 32px;
    height: 32px;
    background-color: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    border-radius: 25px;
    border: 1px solid #ccc;
    float: right;
}
.search-form .form-group input.form-control {
    padding-right: 20px;
    border: 0 none;
    background: transparent;
    box-shadow: none;
    display:block;
}

.search-form .form-group input.form-control::-webkit-input-placeholder {
    display: none;
}
.search-form .form-group input.form-control:-moz-placeholder {
    /* Firefox 18- */
    display: none;
}
.search-form .form-group input.form-control::-moz-placeholder {
    /* Firefox 19+ */
    display: none;
}
.search-form .form-group input.form-control:-ms-input-placeholder {
    display: none;
}
.search-form .form-group:hover,
.search-form .form-group.hover {
    width: 100%;
    border-radius: 25px;
    padding-left: 3px;

}
.search-form .form-group span.form-control-feedback {
    position: absolute;
    top: -1px;
    right: -2px;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    color: #77BC1B;
    left: initial;
    font-size: 14px;
}

.title-search{
    float: right;
}

.sr-only{

}

/*search o tab mon an*/
.sss{
    position: relative;
    bottom: 40px;
    width: 30%;
    height: 10px;
    margin-top: -57px;
    margin-right: 7px;
}
.fff:hover{
    width: 100% !important;;
}

.btn-all{
    float: left;
    margin-right: 15px;
    margin-top: -5px;
}

.title-row{
    color: #747171 !important;
    font-weight: bold;
}

.show-list-food-menu{
    margin: 0px 0px 10px 0px;
}

.alert-menu{
    padding: 5px 5px 5px 10px;
    margin: 0px 0px 10px 0px;
}

.del-food-menu{
    float: right;
    font-weight: 700;
    font-size: 13px;
    line-height: 1;
    color: #3C763D;
    opacity: 1;
    border: 0px;
    margin: 2px;
}

.glyphicon-del-food-menu{
    line-height: 1;
    background-color: #DFF0D8;
    background-image: linear-gradient(to left, #D4EBCB 0px, #D4EBCA 100%);
    top: 0px;
}

.list-menu-show{
    margin: 10px auto;
    padding: 10px;
    /*display: table;*/
}

.list-menu-show > li{
    padding: 0px 10px;
}

.p-list-food{
    text-align: center;
    margin: 0px 35px;
}

.selected-choose{
    color: #419641;
    border: 2px solid #419641 !important;
    border-radius: 8px;
}

a#current-menu{
    border: 2px solid #419641;
    border-radius: 8px;

}
a#current-menu::before{
    position: absolute;
    display: block;
    content: "\e003";
    color: #FFF;
    right: 0px;
    font-family: "metroSysIcons";
    font-size: 9pt;
    font-weight: normal;
    z-index: 102;
    top: 0px;
    font-size: 8pt;
    line-height: 12px;
}
a#current-menu::after{
    position: absolute;
    display: block;
    border-top: 28px solid #419641;
    border-left: 28px solid transparent;
    right: 0px;
    content: "";
    top: 0px;
    z-index: 101;
    border-top-width: 20px;
    border-left-width: 20px;
}

.li-errors{
    list-style: none;
}

.tr-group:nth-child(2n+1){
    background-color: #EAF3F3;
}

.title-date-show{
    background-color: #69BD43;
    color: #FFF;
}

#calendar-output{
    color: #FFF;
}

#mytable{
    margin-top: 18px;
}

.panel, .table, .pagination, .btn{
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.btn.focus, .btn:focus, .btn:hover{
    box-shadow: 0px 5px 11px 0px rgba(0, 0, 0, 0.18), 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

/* Footer */
footer{
    background: #2f2f2f;
}
#info{
    padding: 35px 0;
}
footer li{
    list-style: none;
}
footer li > a{
    color : #999;
}
footer li:not(.title) > a::before{
    font-family: 'Glyphicons Halflings';
    content: '\e080';
    position: relative;
    top: -1px;
    color : #999;
    font-size: 9px;
    margin-right: 5px;
}

footer .title{
    font-size: 20px;
    color: #8C8C8C;
    margin: 0 0 30px 0;
}
footer .title::after{
    background-color: #999;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 50px;
    top: 12px;
}
footer .product{
    font-size: 30px;
    color: #999;
    margin: 0 0 20px;
}
footer .description{
    color: #999;
}

#power-by{
    background: #282627;
}

footer .row{
    text-align: left;
}

.tongtien:after{
    content: " đồng";
}

.show-cost-food-menu{

}

.alert-total-cost {
    padding: 5px 5px 5px 10px;
    margin: 0px 0px 20px;
    width: 50%;
}

.alert-total-cost strong:after{
    content: '  đồng';
}

.select-month-admin{
    height: 25px;
    border: 1px solid rgb(51, 122, 183);
    font-size: 16px;
    text-align: center;
}
.select-month-admin option{
    padding: 0px 25px 0px 10px;
    font-size: 16px;
}
.css-head{
    background: #337AB7;
    color: rgb(255, 255, 255);
    font-size: 14px;
    margin: 0px 0px 20px;
    border-right: 1px solid #FFF;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}
.css-head h3{
    margin: 2px 0px 8px 0px;
}
.detail-admin{
    margin-left: 13px;
    color: #69BD43!important;
}

.total-cost-admin, .check-state-admin{
    line-height: 26px;
    font-size: 15px;
}