body{
    background-image: url("../images/geometry.png");
    background-repeat: repeat;
    width: 100%;
}

#main-slide{

}
.tomorrow-seven-fixed{
    /*width: 100%;*/
    padding: 30px 0px 30px;
    margin: -18px auto;
    color: #337AB7;

}

#tomorrow-menu .container{
    width: 100%;
}

#tomorrow-menu .heading{
    font-size: 30px;
}
.list-food{
    /*margin: 0px -6px;*/
    /*width: 100%;*/
}
.list-food figure{
    margin: 0 5px;
    padding: 5px;
    box-shadow: 0 0px 6px rgba(0, 0, 0, .2);
    border: 1px solid #69BD43
}
.list-food figure figcaption {
    background: #69BD43;
    text-align: center;
    text-transform: capitalize;
    color: #FFFFFF;
    padding: 10px;
}

.list-food figure img {
    width: 100%;
    height: 175px;
}
.slick-slider .slick-prev:before, .slick-slider .slick-next:before{
    color: #69BD43;
    font-size: 30px;
}
.slick-slide{
    height: auto;
}


.slick-slider .pre{
    left: 20px;
}
.slick-slider .next{
    right: 30px;
}


.slick-slider .config-style:visited{
    color: transparent;
}
.slick-slider .config-style span{
    font-size: 30px;
}

.arrow_box {
    position: relative;
    background: #88b7d5;
    border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
    left: 100%;
    top: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.arrow_box:after {
    border-color: rgba(136, 183, 213, 0);
    border-left-color: #88b7d5;
    border-width: 30px;
    margin-top: -30px;
}
.arrow_box:before {
    border-color: rgba(194, 225, 245, 0);
    border-left-color: #c2e1f5;
    border-width: 36px;
    margin-top: -36px;
}

/* Footer */
footer{
    background: #2f2f2f;
    width: 100%;
}
#info{
    padding: 35px 0;
}
footer li{
    list-style: none;
}
footer li > a{
    color : #999;
}
footer li:not(.title) > a::before{
    font-family: 'Glyphicons Halflings';
    content: '\e080';
    position: relative;
    top: -1px;
    color : #999;
    font-size: 9px;
    margin-right: 5px;
}

footer .title{
    font-size: 20px;
    color: #8C8C8C;
    margin: 0 0 30px 0;
}
footer .title::after{
    background-color: #999;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 50px;
    top: 12px;
}
footer .product{
    font-size: 30px;
    color: #999;
    margin: 0 0 20px;
}
footer .description{
    color: #999;
}

#power-by{
    background: #282627;
}

.container-front{
    width: 100%;
    background-color: #FFF;
    margin: 0px auto;
}

.slick-track p{
    font-size: 15px;
}

/*tab chon mon*/
.ch-grid {
    margin: 0px;
    padding: 45px 0px;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
    border-bottom: 1px solid #EBEBEB;
}

.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}

.ch-grid:after {
    clear: both;
}

.ch-grid li {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 20px 95px;
}
.ch-item {
    width: 100%;
    height: 100%;
    /*border-radius: 50%;*/
    position: relative;
    cursor: pointer;
    perspective: 900px;
}
.ch-info{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.ch-info > div {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-position: center center;
    transition: all 0.3s linear;
    transform-origin: 50% 0%;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.ch-info .ch-info-front {
    /*box-shadow: inset 0 0 0 16px rgba(0,0,0,0.3);*/
    text-align: center;
}
.ch-info .ch-info-back {
    transform: translate3d(0,0,-220px) rotate3d(1,0,0,90deg);
    /*background: #69BD43;*/
    opacity: 0;
}
.ch-img-1 {
    background-color: #69BD43;
}

.ch-img-2 {
    background-color: #F0AD4E;
}

.ch-img-3 {
    background-color: #337AB7;
}

.ch-info-front h3 {
    color: #fff !important;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 23px;
    margin: 0px 7px;
    padding: 60px 0 0 0;
    height: 110px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow:
    0 0 1px #fff,
    0 1px 2px rgba(0,0,0,0.3);
}

.ch-info-front p {
    color: #fff;
    padding: 10px 5px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    border-top: 1px solid rgba(255,255,255,0.5);
}

.ch-info-back h4 {
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 15px;
    margin: 0;
    padding: 23px 0px 0px;
    height: 62px;
    font-family: "Open Sans",Arial,sans-serif;
    text-shadow: 0px 0px 1px #FFF, 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.ch-info-back p {
    color: #FFF;
    padding: 18px 5px;
    font-style: italic;
    margin: 0px 30px;
    font-size: 14px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
}

.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}

.ch-item:hover .ch-info-front {
    transform: translate3d(0,280px,0) rotate3d(1,0,0,-90deg);
    opacity: 0;
}
.seven-li-btn .ch-info .ch-info-back{
    transform: translate3d(0px, 0px, -80px) rotate3d(1, 0, 0, 90deg);
}


hr{
    /*border-width: 0px 0px 0px;*/
    /*background: transparent url("../images/ribbon.png") no-repeat scroll center center;*/
    /*clear: both;*/
    /*height: 41px;*/
    margin: 0px;
}

.container-front table {
    border-collapse: collapse;
    margin: 1em 0px 1em 0;
    width: 66.1%;
    margin-right: 6px;
    /*float: left;*/
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    height: 380px;
}
.container-front td {
    border-width: 0px 0px 1px;
    border-style: none none dotted;
    border-color: #DDD;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    padding: 10px 15px;
}
.container-front .price {
    color: #69BD43;
    font-size: 18px;
    text-align: right;
    white-space: nowrap;
}
.container-front .price::after {
    content: "đ";
    margin-left: 3px;
}

.tomorrow-menu-show span{
    color: #69BD43;
    font-size: 18px;
}
.total span{
    color: #FFF;
    text-shadow: 0px 0px 1px #FFF, 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.total td{
    border-style: none;
}

.tomorrow-menu-show .ch-grid-btn{
    margin: 0px;
    padding: 0px;
    list-style: outside none none;
    display: block;
    text-align: center;
    width: 100%;
}

.tomorrow-menu-show .total{
    border-top: 1px solid #69BD43;
    border-top: 1px solid #69BD43;
    background: #69BD43;
    color: #FFF;
}

.tomorrow-menu-show .total .price{
    color: #FFF;
    text-shadow: 0px 0px 1px #FFF, 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.ch-grid-btn{

}
.ch-grid-btn .li-btn {
    width: 170px;
    height: 170px;
    margin: 45px auto;
}
.container-front .row{
    margin: 20px 0px 10px;
    /*border-radius: px;*/
    background-color: #FFF;
}

.container-front .row ol{
    background-color: #FFF;
}

.breadcrumb > .active {
    color: #337AB7;
}

.ch-grid-btn .fa{
    color: #FFF;
    font-size: 100px;
    line-height: 170px;
}
.ch-info .ch-info-back {
    text-align: center;
}

.container-div{
    width: 85%;
    margin: 0px auto;
    border-left: 1px solid #EDEDED;
    border-right: 1px solid #EDEDED;
    padding-top: 15px;
    padding-bottom: 30px;
}

.section-order{
    background-image: url("../images/geometry.png");
}

.tomorrow-seven-fixed:after {
    background-color: #337AB7;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 100px;
    top: 12px;
}

.tomorrow-seven-fixed:hover{
    color: #337AB7 !important;
}
.day-show-tmr{
    background: #337AB7 none repeat scroll 0% 0% !important;
    border-radius: 5px;
    color: #FFF;
    float: left;
    margin: -5px 0px 0px 0px;
    padding: 4px 10px 7px;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    font-size: 23px;
    letter-spacing: 1px;
}

.lable-tmr{
    width: 100%;
    /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);*/
    margin: 0px;
    border-radius: 6px;
    height: 75px;
    cursor: default;
}

.lable-tmr .alert{
    padding: 10px 10px 0px 10px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);

}

.tinhtrang{
    margin: 16px 0px;
    /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);*/
    cursor: default;
    height: 380px;
}
.tinhtrang .h3-tinhtrang{
    padding: 30px 0px;
    margin: -18px auto;
    color: #337AB7;
    float: left;
}
.tinhtrang .h3-tinhtrang:after{
    background-color: #337AB7;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 50px;
    top: 12px;
}

.label-tinhtrang .alert{
    margin: 7px 0px 0px;
    padding: 11px 8px 2px 8px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

#tomorrow-menu-order{
    float: left;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
}
#tomorrow-menu:after{

}

.order-tomorrow-state{
    float: right;
}

.label-tinhtrang{
    width: 100%;
    margin: 0px;
    margin-top: 7px;
    cursor: default;
}

#seven-menu{
    float: left;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
}

.label-seven-menu{
    float: left;
    margin: 35px 0px 0px 15px;
}

.day-show-seven{
    background: #337AB7 none repeat scroll 0% 0% !important;
    border-radius: 5px;
    color: #FFF;
    float: left;
    margin: -5px 5px 0px 0px;
    padding: 4px 10px 7px;
    text-align: center;
    transition: all 0.3s ease-in-out 0s;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    font-size: 23px;
    letter-spacing: 1px;
}

.alert-seven{
    margin: 30px 0px 0px 0px;
    padding: 11px 8px 2px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    float: left;
}

.label-seven-menu h4{
    float: left;
    border-radius: 5px;
    margin: -5px 0px 0px;
    padding: 7px 10px 11px;
    transition: all 0.3s ease-in-out 0s;
    /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);*/
    font-size: 23px;
    letter-spacing: 1px;
    color: #337AB7;
    margin-right: 5px;
}

.label-seven-menu h4:after{
    background-color: #337AB7;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 58px;
    top: 7px;
}

.label-seven-menu h4#cost-seven-menu{
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    margin: -5px -7px 0px 0px;
}

.label-seven-menu h4#cost-seven-menu:after{
    height: 0px;
    content: ' đ';
    position: static;
    display: inline;
    background-color: #FFF;
}

.seven-ch-grid-btn{
    /*float: right;*/
    position: absolute;
    left: 81%;
}

.seven-ch-grid-btn .li-seven-menu{
    width: 200px;
    height: 45px;
    margin: 15px auto;
}

.seven-ch-grid-btn .fa{
    color: #FFF;
    font-size: 35px;
    line-height: 45px;
}

.ch-info .ch-info-front-seven{
    text-align: center;
}

.ch-info-front-seven h3{
    color: #FFF;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    margin: 0px 7px;
    padding: 6px 0px 0px;
    height: 70px;
    font-family: "Open Sans",Arial,sans-serif;
    text-shadow: 0px 0px 1px #FFF, 0px 1px 2px rgba(0, 0, 0, 0.3);
}

.seven-li-btn .ch-info div{
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.seven-li-btn .ch-info .ch-info-front h3{
    margin: 0px auto;
    padding: 11px 0px 0px 2px;
    font-size: 20px;

}

.seven-li-btn .ch-item:hover .ch-info-front{
    transform: translate3d(0px, 80px, 0px) rotate3d(1, 0, 0, -90deg);
    opacity: 0;
}

.home-tmr-lable{
    width: 100%;
    /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);*/
    margin: 0px 0px 15px 0px;
    border-radius: 6px;
    height: 65px;
    cursor: default;
}

.home-tmr-lable h2{
    float: left;
    display: inline-block;
    padding: 30px 0px;
    margin: -18px auto;
    margin-left: 16px;
    margin-right: 16px;
    color: #337AB7;

}

.home-tmr-lable h2:after{
    background-color: #337AB7;
    content: "";
    display: block;
    height: 1px;
    position: relative;
    width: 100px;
    top: 10px;
}

.btn-see-more-tmr{
    background-color: #337AB7;
    color: #FFF;
    border-radius: 5px;
    font-size: 21px;
    border-radius: 5px;
    margin: 12px 0px 0px;
    padding: 2px 10px 7px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
    border-color: #337AB7;
    float: left;
}

.btn-see-more-tmr:hover{
    background-color: #FFF;
    border: 1px solid #337AB7;
    color: #337AB7;
}

.mi-slider .slick-slider{
    width: 100%;
    margin: 0px auto;
}

.mi-slider .slick-slider .pre {
    left: 40px;
    top: 90px;
}

.mi-slider .slick-slider .next {
    right: 50px;
    top: 90px;
}

.alert-mi-slide a{
    width: 348px !important;
    margin-bottom: 105px !important;
    position: relative;
    right: 40px;
}


a, span, h1, h2, h3, h4, p, td, label, li, th {
    font-family: Open Sans, Tahoma, Arial, Helvetica, sans-serif;
}

a:focus, a:hover {
    color: #69BD43;
}

.alert-warning {
    background: #FF9 none repeat scroll 0% 0%;
    border: 1px solid #E6DB55;
    text-shadow: 0px 1px #FFF;
}

.alert-success {
    background: #AF9 none repeat scroll 0% 0%;
    border: 1px solid #77E655;
    text-shadow: 0px 1px #FFF;
}

#fixed-menu{
    float: left;
    display: inline-block;
    margin-left: 16px;
    margin-right: 16px;
}

.fixed-menu {
    margin-top: 15px;
}

.fixed-menu h3{
    color: #337AB7;
    text-align: center;
}

.fixed-menu ul{
    margin: 30px auto;
    /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);*/
    width: 100%;
    text-align: center;
}

.fixed-menu ul li {
    list-style-type: none;
    padding: 15px 15px 10px;
    float: left;
    width: 13%;
    text-align: center;
    margin-right: 12px;
    border: 1px solid #337AB7;
    /*display: inline;*/
    border-radius: 6px;
}

/*Adding custom checkbox icons*/
.fixed-menu label {
    position: relative;
    padding-left: 30px;
    font-size: 18.5px;
    cursor: pointer;
    color: #337AB7;
}

.fixed-menu label:before, label:after {
    font-family: FontAwesome;
    font-size: 21px;
    /*absolutely positioned*/
    position: absolute; top: 0; left: 0;
}
.fixed-menu label:before {
    content: '\f096'; /*unchecked*/
}
.fixed-menu label:after {
    content: '\f046'; /*checked*/
    /*checked icon will be hidden by default by using 0 max-width and overflow hidden*/
    max-width: 0;
    overflow: hidden;
    opacity: 0.5;
    /*CSS3 transitions for animated effect*/
    transition: all 0.35s;
}
.fixed-menu li:hover{
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}
/*hiding the original checkboxes*/
.fixed-menu input[type="checkbox"] {
    display: none;
}
/*when the user checks the checkbox the checked icon will animate in*/
.fixed-menu input[type="checkbox"]:checked + label:after {
    max-width: 25px; /*an arbitratry number more than the icon's width*/
    opacity: 1; /*for fade in effect*/
}

/*adding some colors for fun*/
#one+label:before, #one+label:after,
#two+label:before, #two+label:after,
#three+label:before, #three+label:after,
#four+label:before, #four+label:after,
#five+label:before, #five+label:after,
#six+label:before, #six+label:after,
#seven+label:before, #seven+label:after
{
    color: #337AB7;
}

.fixed-menu li.active{
    background: #337AB7;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}

.fixed-menu li.active label{
    color: #FFF;
}

.fixed-menu li.active label:before, label:after {
    color: #FFF !important;
}

label {
    font-weight: inherit;
}

.fixed-ch-grid-btn {
    /*position: absolute;*/
    margin-top: 120px;
}

.fixed-ch-grid-btn .li-fixed-menu {
    width: 200px;
    height: 45px;
    /*margin: 15px auto;*/
}

.fixed-li-btn .ch-info .ch-info-back {
    transform: translate3d(0px, 0px, -80px) rotate3d(1, 0, 0, 90deg);
}
.fixed-li-btn .ch-info div {
    border-radius: 5px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);
}
.fixed-li-btn .ch-info .ch-info-front h3 {
    margin: 0px auto;
    padding: 11px 0px 0px 2px;
    font-size: 20px;
}
.fixed-ch-grid-btn .fa {
    color: #FFF;
    font-size: 35px;
    line-height: 45px;
}
.fixed-li-btn .ch-item:hover .ch-info-front {
    transform: translate3d(0px, 80px, 0px) rotate3d(1, 0, 0, -90deg);
    opacity: 0;
}

.ch-item:hover .ch-info-back {
    transform: rotate3d(1,0,0,0deg);
    opacity: 1;
}

.row {
    list-style: outside none none;
    text-align: center;
    margin: 10px 0px;
}

.breadcrumb > .active {
    margin: 0px 0px -5px 0px;
}

.cost-total-show{
    width: 100% !important;
    height: auto !important;
}
.details{
    width: 120px;
}

.details a:link, .details a:active{
    color: #337AB7;
}

.details a:hover{
    color: #69BD43;
}

.cost-total-show .price{
    text-align: left;
}

.cost-total-show thead{
    /*border-bottom: 1px solid #337AB7;*/
    /*box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12);*/
    background: rgb(51, 122, 183) none repeat scroll 0% 0%;
}

.cost-total-show th{
    text-align: left;
    color: #FFF !important;
    padding: 15px;
    font-size: 20px;
}

.th-date{
    text-align: left !important;
}

.show-details-food{
    width: 100% !important;
}
.time-show{
    text-align: left;
    padding-left: 30px !important;
}
.selecte-month{
    position: relative;
    top: -3px;
    margin-left: 10px;
}

.breadcrumb > li + li::before {
    padding: 0px;
    content: "";
}

.alert-check-pay{
    padding: 10px 10px 2px 10px;
    margin: 0px;
    position: absolute;
    right: 120px;
    top: 155px;
}

.show-details-food td, .show-details-food span{
    color: #337AB7 !important;
}

.show-details .modal-title{
    color: #337AB7;
}

.show-details .modal-footer{
    border: none;
}

#main-slide .row{
    margin-top: 0px;
}