.list-menu-show {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    /*font: 15px 'trebuchet MS', 'lucida sans';*/
    padding: 0;
    margin: 20px 0px;
    text-shadow: 0 1px 0 rgba(255,255,255,.5);
}

.list-menu-show .list-menu-show{
    margin: 0 0 0 2em;
}

.list-menu-show li {
    position: relative;
    display: block;
    background: none repeat scroll 0% 0% #EEE;
    color: #747171;
    text-decoration: none;
    border-radius: 0.3em;
    transition: all 0.3s ease-out 0s;
    padding: 0.4em 0.4em 0.4em 3em;
    margin: 0.5em 10px;
}

.list-menu-show li:hover {
    background: none repeat scroll 0% 0% rgba(67, 144, 223, 0.32);
}

.list-menu-show li:hover:before {
    transform: rotate(360deg);
}

.list-menu-show li:before {
    content: counter(li, decimal);
    counter-increment: li;
    position: absolute;
    margin-top: -1.3em;
    background: none repeat scroll 0% 0% #A0E857;
    transition: all 0.3s ease-out 0s;
    width: 3em;
    height: 3em;
    top: 41%;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    border: 0.3em solid #FFF;
    line-height: 2.5em;
    left: -1.3em;
}